    html{
      scroll-behavior: smooth;
    }
    
    body{
        background-color: #A0522D;
    }
    .logo{
      padding-top: 1%;
      padding-bottom: 1%;
    }
    
    .menu, footer{
      background-color: rgb(163, 0, 0);
      padding: 1.5%;
    }
    
    .item_menu{
      line-height: 1.5;
      text-align: center;
    }
    .fundo_diferente{
        background-image:linear-gradient(to bottom, #33ccff 0%, #660066 100%);;
      }

    .img_topo{
        width: 100%;
       

    }

    .img_corpo{

        width: 40%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    h2{
      text-align: center;
      color: 	#09cad8;
      font-size: 1.5em;
      margin-bottom: 2%;
    }

    figure{
        text-align: center;
    }

    .container{

     width: 80%;
     margin: auto;

    }

    p{
        font-size: 1.4em;
        

    }

    .parag_letras > p{

        font-size: 1em;
      }
      
      .chorao_botao{
        width: 150px;
        height: 50px;
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: auto;            
      }
      .botao{
        padding-top: 15px;
      }
      h1{
        text-align: center;
        color: #33ccff;
        font-size: 2em;
      }
      h2{text-align: center;
      font-size: 1.5em;
      } 
       footer p{

          font-size: 1.2em;
          text-align: center;

        }

        .item_menu ul li a{
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
          
          .item_menu ul li a:hover, a:active {
            background-color: red;
          }

          section{
            margin-top: 2%;
            margin-bottom: 2%;
          }
          
          .img_ladin{
           float: left;
           width:200px;
           height:170px;
           margin-right:14px; 
          }
          